{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": "off",
    "no-unused-expressions": "off",
    "react/jsx-fragments": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": "off",
    "object-curly-newline": "off"
  }
}
